<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sinatra</title>
</head>

<body>
  <h1>Sinatra Add New Page</h1>
  <form method="post" action="/create">
    <table>
    <tr>
      <td><label for="title" >Title:</label></td>
      <td><input type="text" name="title"></td>
    </tr>
    <tr>
      <td><label for="director" >Director:</label></td>
      <td><input type="text" name="director"></td>
    </tr>
    <tr>
      <td><label for="year" >Year:</label></td>
      <td><input type="text" name="year"></td>
    </tr>
    <tr>
      <td><input type="submit"></td>
    </tr>
    </table>
  </form>
  <a href="/">Back to index</a>
</body>
</html>